.stage-directions {
    font-size: 15px;
    color: white;
    font-family: Impact;
    background-color: aqua;
}

.stage-directions:hover {
    background-color: coral;
    color: aliceblue;

}

.speech {
    font-size: 12px;
    color: black;
    font-family: Haettenschweiler;
}

.name {
    font-size: 15px;
    color: black;
    font-family: sans-serif;
}

.scene {
    font-size: 18px;
    color: darkblue;
    font-family:'Arial Narrow Bold';
}

.Sexton {
    font-size: 15px;
    color: grey;
    font-family: sans-serif;
}

.DOGBERRY {
    font-size: 15px;
    color: rgb(45, 44, 44);
    font-family: sans-serif;
}

.VERGES {
    font-size: 15px;
    color: rgb(112, 79, 79);
    font-family: sans-serif;
}

.BORACHIO {
    font-size: 15px;
    color: rgb(81, 21, 21);
    font-family: sans-serif;
}

.CONRADE {
    font-size: 15px;
    color: rgb(184, 215, 59);
    font-family: sans-serif;
}
.CONRADE:hover, .DOGBERRY:hover, .BORACHIO:hover {
    text-shadow:2px 3px 5px green;
}

table { 
    border: solid, 3px;
    margin-bottom: 20px;
    display: grid;
    max-width: fit-content;
    padding: 2px;
}


td, tr {
    text-align: center;
    color: black;
    font: 20px;
    border: solid, 2px;
    padding: 1px;
}

.color {
    background-color: cornflowerblue;
    color: white;
}

.head {
    font-weight: bold;
}



