.stage-directions {
    font-size: 15px;
    color: white;
    font-family: Impact;
    background-color: aqua;
}

.stage-directions:hover {
    background-color: coral;
    color: aliceblue;

}

.speech {
    font-size: 12px;
    color: black;
    font-family: Haettenschweiler;
}

.name {
    font-size: 15px;
    color: black;
    font-family: sans-serif;
}

.scene {
    font-size: 18px;
    color: darkblue;
    font-family:'Arial Narrow Bold';
}

.Sexton {
    font-size: 15px;
    color: grey;
    font-family: sans-serif;
}

.Sexton {
    font-size: 15px;
    color: grey;
    font-family: sans-serif;
}

.DOGBERRY {
    font-size: 15px;
    color: rgb(45, 44, 44);
    font-family: sans-serif;
}

.VERGES {
    font-size: 15px;
    color: rgb(112, 79, 79);
    font-family: sans-serif;
}

.BORACHIO {
    font-size: 15px;
    color: rgb(81, 21, 21);
    font-family: sans-serif;
}

